{% extends "base.html" %}

{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>ShopCart Products</strong>
		</div>
        {% if sellObjects %}
        <ul>
            {% for obj in sellObjects %}
            <li>
                {{obj.name}}
            </li>
            <button type="button" class="btn btn-primary" onclick="clickAlert()">Add to cart</button><br>
            {% endfor %}
        </ul>
        {% else %}
        <h1>Products not found!</h1>
        {% endif %}
	</div>
    <script>
      function clickAlert() {
        alert("Product will be add to cart!");}
    </script>
{% endblock %}